<div class="form-field owner-field{% if field.errors %} has-errors{% endif %}{% if field.field.widget.input_type == 'checkbox' %} owner-checkbox{% endif %}{% if field.field.widget.input_type == 'file' %} owner-file-field{% endif %}">
{% if field.field.widget.input_type == 'checkbox' %}<div class="owner-check-control">{{ field }}<label for="{{ field.id_for_label }}">{{ field.label }}</label></div>{% else %}<label class="form-label" for="{{ field.id_for_label }}">{{ field_label|default:field.label }}</label>{{ field }}{% endif %}
{% if field.errors %}<div id="{{ field.auto_id }}_error" class="form-errors form-error" role="alert">{{ field.errors }}</div>{% endif %}
{% if field.help_text %}<div id="{{ field.auto_id }}_helptext" class="help-text">{{ field.help_text|safe }}</div>{% endif %}
</div>
